@font-face {
  font-family: ComingSoon;
  src: url("../src/assets/fonts/Coming_Soon/ComingSoon-Regular.ttf");
}

@font-face {
  font-family: Inline;
  src: url("../src/assets/fonts/Big_Shoulders_Inline/BigShouldersInline-VariableFont_opsz\,wght.ttf");
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-comingSoon: ComingSoon, sans-serif;
  --font-inline: Inline, sans-serif;

  --spacing-*: initial;
  --spacing-0: 0;
  --spacing-2xs: 0.15rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 8rem;
  --spacing-4xl: 10rem;
  --spacing-5xl: 18rem;

  --color-*: initial;
  --color-bunker-50: #ebfffe;
  --color-bunker-100: #ccfffe;
  --color-bunker-200: #9ffeff;
  --color-bunker-300: #5dfaff;
  --color-bunker-400: #14ebfc;
  --color-bunker-500: #00cee2;
  /* --color-bunker-600: #00a4be;
  --color-bunker-700: #058299; */
  --color-bunker-800: #0e697c;
  --color-bunker-900: #115568;
  --color-bunker-950: #010f13;
  --color-froly-500: #ef445a;
  --color-froly-600: #dc2243;
  --color-froly-700: #b91737;
}

@utility flex-center {
  @apply items-center justify-center;
}
@utility border-light-blue {
  @apply border-r-bunker-500 border-r-1;
}

.btn {
  @apply cursor-pointer transition-all hover:scale-110 z-[9999];
}

.non-scale-btn {
  @apply cursor-pointer transition-all z-[9999];
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.progress-bar::after {
  @apply absolute right-0 aspect-square translate-x-[50%] rounded-full content-[""] z-[9999];
}

.progress-bar {
  @apply relative flex h-full items-center transition-transform hover:scale-y-150 hover:after:scale-x-150 z-[9999];
}

.info {
  @apply mx-xs my-2xs w-full text-left text-xs leading-tight font-light;
}

.info-list {
  @apply mb-sm m-0 flex flex-col;
}

.select{
  @apply outline-0 focus:outline-1 outline-bunker-800/60;
}

.option{
  @apply bg-bunker-900 text-bunker-100 text-sm text-center;
}

.position-right {
  @apply top-[50%] right-0 translate-x-[100%] -translate-y-[50%];
}

.position-left {
  @apply top-[50%] left-0 -translate-x-[100%] -translate-y-[50%];
}

.position-top {
  @apply top-0 right-[50%] translate-x-[50%] -translate-y-[100%];
}

.position-bottom {
  @apply right-[50%] bottom-0 translate-x-[50%] translate-y-[100%];
}

.general-container {
  @apply bg-bunker-950 text-bunker-100/90 shadow-bunker-900 z-50 shadow-md transition duration-250 ease-in hover:shadow-xl;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  background-color: black;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}

